// -----------------------------------------------------------------------------
// Audio Tab
// -----------------------------------------------------------------------------

$audio-tab-clinger-width: 64px;
$audio-tab-body-width: 250px;
$audio-tab-body-width-large: 650px;
$audio-tab-height: 60px;

.audio-tab {
  position: fixed;
  z-index: $z-index-audio-tab;
  bottom: 0;
  right: 0;
  width: $audio-tab-clinger-width + $audio-tab-body-width;
  max-width: calc(100% - #{$audio-tab-clinger-width});

  @include display-flex;
  @include align-items(stretch);
  @include justify-content(center);

  @include translateX(#{$audio-tab-body-width + $audio-tab-clinger-width});
  @include transition-transform($transition-duration-base $transition-timing-function-in-out-ui);

  @media (min-width: $screen-sm-min) {
    bottom: $grid-gutter-width;
    width: $audio-tab-clinger-width + $audio-tab-body-width-large;
    @include translateX(#{$audio-tab-body-width-large + $audio-tab-clinger-width});
  }

  &.is-ready {
    @include translateX($audio-tab-body-width + 1px);
    @media (min-width: $screen-md-min) {
       @include translateX($audio-tab-body-width-large + 1px);
    }
  }

  &.is-open {
    @include translateX(0px);
  }

  .plyr--audio .plyr__controls {
    background-color: $color-black;
    color: $color-white;
    padding-top: 0;
    padding-bottom: 0;
  }

  .plyr__control {
    border-radius: 0;
    padding: 4px;
  }

  .plyr__time {
    font-size: $font-size-small;
  }
}

@keyframes pulsate-border {
  0%, 100% {
    border-color: $color-white;
  }
  50% {
    border-color: $color-blue;
  }
}

.audio-tab__clinger,
.audio-tab__body,
.audio-tab__body-child {
  .audio-tab.is-playing & {
    border-color: $color-white;
    animation-name: pulsate-border;
    animation-duration: 2.2s;
    animation-iteration-count: infinite;
  }
}

.audio-tab__clinger,
.audio-tab__body {
  display: inline-block;
  float: left;
  @include inline-flex;
  @include align-items(center);
  @include justify-content(center);
  background: $color-black;
  border: 1px solid $color-white;
}

.audio-tab__clinger {
  width: $audio-tab-clinger-width;
  font-size: $font-size-xsmall;
  padding: 15px;
  text-align: center;

  img {
    width: 30px;
  }
}

.audio-tab__body {
  width: $audio-tab-body-width;
  border-left: none;
  border-right: none;
  @include flex-wrap(wrap);

  @media (min-width: $screen-sm-min) {
    width: $audio-tab-body-width-large;
  }
}

.audio-tab__body-child {
  width: 100%;
  padding: 5px 10px;

  &:not(:last-child) {
    border-bottom: 1px solid $color-white;
  }
}

.audio-tab__track-title {
  font-size: $font-size-xsmall;
  text-align: center;
  @include text-overflow;
  position: relative;
  padding: 0 45px; // make room for playlist arrows
}

.audio-tab__playlist-control {
  position: absolute;
  top: 50%;
  padding: 0 10px;
  font-size: $font-size-large;

  &.audio-tab__playlist-control--prev {
    left: 10px;
    @include translate(-10px, -50%);
  }
  &.audio-tab__playlist-control--next {
    right: 10px;
    @include translate(10px, -50%);
  }
}
