// -----------------------------------------------------------------------------
// Audio Tab
// -----------------------------------------------------------------------------

$audio-tab-clinger-width: 64px;
$audio-tab-body-width: 250px;
$audio-tab-height: 60px;

$debug: true;

@if $debug {
  $audio-tab-body-width: 600px;
}

.audio-tab {
  position: fixed;
  z-index: $z-index-audio-tab;
  bottom: 0;
  right: 0;
  width: $audio-tab-clinger-width + $audio-tab-body-width;

  @include display-flex;
  @include align-items(stretch);
  @include justify-content(center);

  @include translateX(#{$audio-tab-body-width + $audio-tab-clinger-width});
  @include transition-transform($transition-duration-base $transition-timing-function-in-out-ui);

  &.is-ready {
    @include translateX($audio-tab-body-width + 1px);
  }

  &.is-open {
    @include translateX(0px);
  }

  @media (min-width: $screen-md-min) {
    bottom: $grid-gutter-width;
    bottom: 50%;
  }

  .plyr--audio .plyr__controls {
    background-color: $color-black;
    color: $color-white;
  }

  .plyr__control {
    border-radius: 0;
    padding: 4px;
  }
}

@keyframes pulsate-border {
  0%, 100% {
    border-color: $color-white;
  }
  50% {
    border-color: $color-blue;
  }
}

.audio-tab__clinger,
.audio-tab__body,
.audio-tab__body-child {
  .audio-tab.is-playing & {
    border-color: $color-white;
    animation-name: pulsate-border;
    animation-duration: 2.2s;
    animation-iteration-count: infinite;
  }
}

.audio-tab__clinger,
.audio-tab__body {
  display: inline-block;
  float: left;
  @include inline-flex;
  @include align-items(center);
  @include justify-content(center);
  background: $color-black;
  border: 1px solid $color-white;
}

.audio-tab__clinger {
  width: $audio-tab-clinger-width;
  font-size: $font-size-xsmall;
  padding: 15px;
  text-align: center;

  img {
    width: 30px;
  }
}

.audio-tab__body {
  width: $audio-tab-body-width;
  border-left: none;
  border-right: none;
  @include flex-wrap(wrap);
}

.audio-tab__body-child {
  width: 100%;
  padding: 5px 10px;

  &:not(:last-child) {
    border-bottom: 1px solid $color-white;
  }
}

.audio-tab__track-title {
  font-size: $font-size-xsmall;
  text-align: center;
  @include text-overflow;
}
