// -------------------------
// Logo Item
// -------------------------

.logo-item {
  padding: 0 $grid-gutter-width/2;
  img {
    width: 100%;
  }
}

.logo-item__caption {
  margin-top: 7px;
  text-align: center;
  font-size: $font-size-small;
  @include transition(opacity $transition-duration-fast $transition-timing-function-in-out-ui);

  html.no-touchevents .logo-item & {
    opacity: 0;
  }

  html.no-touchevents .logo-item:hover &,
  html.no-touchevents .logo-item:focus & {
    opacity: 1;
  }

  &.logo-item__caption--show {
    opacity: 1 !important;
  }
}