// -------------------------
// Pagination
// -------------------------

.pagination {

  padding: $spacer 0;
  text-align: center;

  .page,
  .next,
  .prev,
  .deco {

    padding: 0 5px;

    &:first-child {

    }
    &:last-child {

    }
  }

  .page {

    &.current {
      color: $color-primary;
    }
  }

  .prev,
  .next {

    a {

    }
  }

}
