{%- comment %}

  Collection Filters
  ------------------------------------------------------------------------------

  Usage:

  {% include 'collection-filters' %}

{% endcomment -%}

{% unless collection == empty %}

  <div class="collection-filter-bar__entry">
    <label>Filter</label>
    <select class="form-control" data-filter-select>
      <option value="{{ collection.url }}">All</option>
      {% for tag in collection.all_tags %}
        <option value="{{ collection.url }}/{{ tag | handle }}" {% if current_tags contains tag %}selected="selected"{% endif %}>{{ tag }}</option>
      {% endfor %}
    </select>
  </div>

{% endunless %}

