<div data-section-id="{{ section.id }}" data-section-type="audio-player">
  {% if section.settings.mp3_file_url != blank and section.settings.enabled %}
    <div class="audio-tab" data-audio-tab>
      <a href="#" class="audio-tab__clinger" data-audio-tab-toggle>
        Listen Now
      </a>
      <div class="audio-tab__body">
        <audio controls data-audio-player-audio>
          <source src="{{ section.settings.mp3_file_url }}" type="audio/mp3">
        </audio>
      </div>
    </div>

  {% endif %}
</div>

{% schema %}
  {
    "name": "Audio Player",
    "settings": [
      {
        "type": "checkbox",
        "id": "enabled",
        "label": "Enabled",
        "default": true
      },
      {
        "type": "url",
        "id": "mp3_file_url",
        "label": "MP3 File Url"
      }
    ]
  }
{% endschema %}