<div data-section-id="{{ section.id }}" data-section-type="social">
  <div class="container">
    <div class="content-grid">
      <div class="content-grid__item">
        <div class="fb-page" data-href="https://www.facebook.com/adamcarolla" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/adamcarolla" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/adamcarolla">Adam Carolla</a></blockquote></div>
      </div>
      <div class="content-grid__item">
        Instagram
      </div>
      <div class="content-grid__item">
        <div style="max-height: 500px; overflow: scroll">
          <a class="twitter-timeline" data-theme="dark" href="https://twitter.com/adamcarolla?ref_src=twsrc%5Etfw">Tweets by adamcarolla</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Social",
    "settings": [],
    "presets": [{
      "name": "Social",
      "category": "Misc",
      "settings": {}
    }]
  }
{% endschema %}